<!DOCTYPE html>
<html>
<head>
  <title>QnaPostrgesql</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="wrapper">
   <ul>
     <li><%= link_to 'Courses', courses_path %></li>
    <!-- <li><%= link_to 'Questions', questions_path %></li>-->
   </ul>
    <div class="right">
     <ul>
      <% if user_signed_in? %>
       <li> <%=link_to 'Your Profile', dashboards_path %></li>
       <li> <%=link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li> <%= link_to 'Sign in', new_user_session_path %></li> 
      <% end %>
      </ul>
   </div>
 </div>
</header>

<div class="wrapper">


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>


</div>
</body>
</html>

