<!DOCTYPE html>
<html>
<head>
  <title>QnaPostrgesql</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">

<% if user_signed_in? %>
<%=link_to 'Sign out', destroy_user_session_path, method: :delete %> 
<% else %>
<%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign_up', new_user_registration_path %>
<% end %>

<%= link_to 'Questions', questions_path %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

</div>